#projects {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    display: block;
    box-sizing: border-box;
    flex-basis: 25%;
    padding: 2px 4px;

    // &:nth-child(4n + 1) {
    //   padding-left: 0;
    // }

    // &:nth-child(4n) {
    //   padding-right: 0;
    // }

    img {
      width: 100%;
    }
  }
}
